contourpy
cuda-bindings
cuda-pathfinder
cycler
einops
filelock
fonttools
fsspec
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
scipy
setuptools
six
sympy
threadpoolctl
torch
triton
typing_extensions
tqdm
xgboost